@use "../abstract/_variables" as v;
@use "../abstract/_mixins" as m;

.hero{
    .hero__content{
        max-width: 70%;
        padding-bottom: 5rem;
        .hero__title{
            font-size: 65px;
            font-weight: bold;
            line-height: 80px;
            margin-bottom: 32px;
        }

        .hero__description{
            font-size: 25px;
            line-height: 40px;
            color: v.$secondary-color ;
            margin-bottom: 56px;


        }

        ul{
            @include m.list-reset;
            gap: 32px;
            margin-bottom: 50px;
            align-items: center;
            li{
                .video{
                    position: relative;
                    margin-right: -1rem;
                    img{
                        width: 30px;
                        position: relative;
                        top: 4px;
                        left: 2px;
                    }
                    display: inline-block;
                    padding: 5px;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: 0px 7px 15px grey;
                }
            }
            .btn{
                @include m.button;
                &:hover{
                    background-color: white;
                }
            }

            a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }

    .hero__products{
        max-width: 643px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 20px;

        article{
            padding-top: 20px ;
            max-width: 145px;
            display: flex;
            flex-direction: column;
            align-items: center;                    
            gap: 10px;
            
            img{
                width: 60px;
            }
            .numbers{
                font-size:36px;
                font-weight: 500;
                text-align: center;
            }
    
            p{  
                font-size: 18px;
                color: v.$secondary-color;
                text-align: center;
                font-weight: 500;
            }

        }
        
        
    }
}