@use "../abstract/_variables" as v;
@use "../abstract/_mixins" as m;

.hero{
    .hero__content{
        max-width: 60%;
        .hero__title{
            font-size: 60px;
            font-weight: bold;
            line-height: 80px;
            margin-bottom: 40px;
        }

        .hero__description{
            font-size: 24px;
            line-height: 40px;
            color: v.$secondary-color ;
            margin-bottom: 40px;


        }

        ul{
            @include m.list-reset;
            gap: 32px;
            margin-bottom: 50px;
            align-items: center;
            li{
                .video{
                    position: relative;
                    img{
                        width: 30px;
                        position: relative;
                        top: 4px;
                        left: 2px;
                    }
                    display: inline-block;
                    padding: 5px;
                    border-radius: 50%;
                    background-color: white;
                    box-shadow: 0px 7px 15px grey;
                }
            }
            .btn{
                @include m.button;
                &:hover{
                    border: 1px solid black;
                }
            }
        }

    }
}