.testimony{
    max-width: 40%;
    position: relative;

    article{
        background-color: rgba(255,255,255, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        
        padding: 20px 30px;
        max-width: 550px ;
        img{
            width: 40px;
        }

        .name{
            font-weight: bold;
        }
    }

    .tesminony__first{
        
        position: relative;
        top: 200px;
        left: 100px;
    }

    .testimony__second{
        position: relative;
        top: 250px;
        left: px;
    }
}