@use "abstract/_variables" as v;
@use "abstract/_tipography";
@use "layout/header";

// RESET // 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: v.$primary-font;
    background-position: top right;
    z-index: 2;
    background-color: v.$bg-primary-color;
    &::before{
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 635px;
        height: 820px;
        background-color: v.$bg-secondary-color;
        background-image: url(img/body-background.svg);
        background-repeat: no-repeat;
        background-size: 400;
        background-position: -100% 17%;
        opacity: 0.3;
        z-index: -1;
    }
}

.page{
    max-width: 1600px;
    padding-left: 16px;    
    padding-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    background-image:url(img/woman.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right  bottom;
    }