@use "abstract/_variables" as v;
@use "abstract/_tipography";
@use "layout/layout";

// RESET // 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: v.$primary-color;
    font-size: 18px;
}

//  ASE BODY AND .PAGE STYLES //

body{
    font-family: v.$primary-font;
    background-image:url(img/woman.png), url(img/background.png);
    background-repeat: no-repeat;
    background-size: 75%, 100% 92%;
    background-position:right 100px top, center top;
    position: relative;
    z-index: 1;
}

.page{
    max-width: 1600px;
    padding-left: 16px;    
    margin-right: auto;
    margin-left: auto;
    position: relative;
    }

main{
    display: flex;
}